<meta charset="utf-8">
h1 { 
  color: white !important;
  margin: 0 0 0 15px; 
  padding: 0;
  font-size: 30px;
}
h2 { color: royalblue !important }
h3 { color: lightblue !important } 
@font-face {
    font-family: "liene";
    src: url("https://static.miraheze.org/umipediawiki/5/5f/Liene-Regular.ttf");  format('ttf');
}

.Liene {
    font-family: "liene";
}
/* ヘッダー*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: url(berta_hestias.png);
  background-color: white;
}
header {
  width: 100%;
  padding: 30px 4% 10px;
  background-color: royalblue;
  /*position: fixed; */
  top: 0;
  display: flex;
  align-items: center;
}
a { 
  text-decoration: none;
  color: white;
  margin: 0 0 0 15px;
}
ul {
  list-style: none;
  margin: 0;
  display: flex;
}
li {
  margin: 0 0 0 15px;
  font-size: 14px;
}
nav {
   margin: 0 0 0 auto;
}
.logo{
  width 15px;
  height 6px;  
}
/* 中身*/
.content {
  height: 100vh;
  margin: -20px 20px 0 20px;
}
.guide {
  display: table;
  width: 100%;
}
.guide1{
  display: table-cell;
  padding: 80px;
  width: 33%;
  height: 300px;
  background: yellow;
  position: relative;
}
.guide2{
  display: table-cell;
  padding: 80px;
  width: 33%;
  height: 100%;
  background: green;
  position: relative;
}
.guide3{
  display: table-cell;
  padding: 80px;
  width: 34%;
  height: 100%;
  background: red;
}
